<h2>Listing navmenus</h2>
<%= render :partial => "/syspanel/shared/setting_tab" %>
<table>
  <tr>
    <th>Label</th>
    <th>Url</th>
    <th>Link title</th>
    <th>Position</th>
    <th>Is display</th>
    <th>Open in new window</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @navmenus.each do |navmenu| %>
  <tr>
    <td><%= navmenu.label %></td>
    <td><%= navmenu.url %></td>
    <td><%= navmenu.link_title %></td>
    <td><%= navmenu.position %></td>
    <td><%= navmenu.is_display %></td>
    <td><%= navmenu.open_in_new_window %></td>
    <td><%= link_to 'Edit', edit_syspanel_navmenu_path(navmenu) %></td>
    <td><%= link_to 'Destroy', [:syspanel, navmenu], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Navmenu', new_syspanel_navmenu_path %>
