<h1>Listing notices</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Click count</th>
    <th>Is published</th>
    <th>Created by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notices.each do |notice| %>
  <tr>
    <td><%= notice.title %></td>
    <td><%= notice.body %></td>
    <td><%= notice.click_count %></td>
    <td><%= notice.is_published %></td>
    <td><%= notice.created_by %></td>
    <td><%= link_to 'Show', notice %></td>
   
  </tr>
<% end %>
</table>
<%= will_paginate @notices %>
