<!-- admin session new -->
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>系统登录 － <%= Settings.system.name %> <%= Settings.system.version %></title>
  <%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' %>
  <%= csrf_meta_tag %>
</head>

<body id="login-form">
  <div id="back_link"><%= link_to "返回公司网站", root_url %></div>
  <div class="wrapper">
    <h1><%= SiteSetting.got(:company_short_name) %> 系统登录</h1>
    <%= form_for @admin_session, :url => admin_login_path do |form| %>
      <p>
        <label for="admin_session_login">帐号:</label><br/>
        <%= form.text_field "login", :size => 30, :maxlength => 50, :class => "text" %></p>
      <p>
        <label for="admin_session_password">密码:</label><br/>
        <%= form.password_field :password, :value => "", :maxlength => 50, :class => "text" %></p>
           <!--p>
              <% "link_to '不记得密码了？', new_password_path " %>
            </p-->
      <p>
        <%= form.submit raw "登录 &#187;"  %>
      </p>
    <% end %>
  </div>
<div id="copyright">Powered by EnterpriseSiete 1.0 &copy; <%= SiteSetting.got(:company_short_name) %> 版权所有</div>

<script type="text/javascript">                             
<%
# javascripts code below is for safe reason.
# in firefox it will save password if user have set auto save.
%>    
   document.getElementById("admin_session_login").value = " ";
   document.getElementById("admin_session_password").value = "";
</script>
  </body>
</html>