<%= form_for([:syspanel, @site_setting], :html => { :class => "tabular"}) do |f| %>
  <% if @site_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site_setting.errors.count, "error") %> prohibited this site_setting from being saved:</h2>

      <ul>
      <% @site_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="box">
     <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </p>
      <p>
    <%= f.label :setting_key %>
    <%= f.text_field :setting_key %>
    </p>
      <p>
    <%= f.label :setting_value %>
    <%= f.text_field :setting_value %>
    </p>
      <p>
    <%= f.label :remark %>
    <%= f.text_field :remark %>
  </p>
    <p>
    <%= f.label :value_type %>
    <%= f.text_field :value_type %>  
    </p>
  </div>

    <%= f.submit %> or <%= link_to t(:label_back), syspanel_site_settings_path %>

<% end %>
