<div class="content_box">
  <div class="inner_box_header">
    <h3>基础信息</h3>
  </div>
  <div class="inner_box_body">                      
    <ul>
      <li><%= link_to '基本配置', basic_syspanel_site_settings_path %></li>
      <li><%= link_to '联系方式', contact_info_syspanel_site_settings_path %></li>
      <li><%= link_to "网站导航", syspanel_navmenus_path %></li>
      <li><%= link_to t("view.settings.themes_manage_a"), syspanel_themes_path %></li>
  </div>
</div>  

<div class="content_box">
    <div class="inner_box_header">
      <h3>安全配置</h3>
    </div>
    <div class="inner_box_body">
      <ul>
        <li><%= link_to "修改密码", syspanel_admins_path %>
    </div>
  </div>