<%= content_for :html_head do -%>
    <%= javascript_include_tag "kindeditor/kindeditor-min.js" %>
    <script type="text/javascript">
        $(function(){

            KE.show({
            				id : 'site_setting_company_introduce',
            				resizeMode : 1,
            				allowPreviewEmoticons : false,
            				allowUpload : false,
            				items : [
            				'fontname', 'fontsize', '|', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',
            				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
            				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            			});

        });
    </script>
<% end -%>
<% title "网站基础配置" -%>
<h2>网站基础配置</h2> 

<%= form_for :site_setting, :url => url_for(:action => :batch_update) do |f| -%>  
<%= hidden_field_tag :current_action, params[:action] -%>
    <label for="">公司全名</label>
    <%= f.text_field :company_full_name, :value => MySettings.company_full_name -%>  
    <br />
    
    <label for="">公司简称</label>
    <%= f.text_field :company_short_name, :value => MySettings.company_short_name -%>  
    <br />
    
    <label for="">公司简介</label>
    <%= f.text_area :company_introduce, :value => MySettings.company_introduce, :style => "width:500px;height:200px;" -%>  
    <br />

    <%= f.submit "提交" -%>
<% end -%>

 

<%= content_for :sidebar do -%>
  <%= render :partial => "/syspanel/site_settings/sidebar" %>
<% end %>
