<h2>Listing site_settings</h2>  

<div class="tabs" id="">
  <ul>
      <li><a onclick="showTab('info'); this.blur(); return false;" id="tab-info" class="selected" href="/projects/my-wiki/settings/info">网站配置</a></li>
      <li><a onclick="showTab('modules'); this.blur(); return false;" id="tab-modules" href="/projects/my-wiki/settings/modules">产品分类</a></li>
      <li><a onclick="showTab('members'); this.blur(); return false;" id="tab-members" href="/projects/my-wiki/settings/members">成员</a></li>
      <li><a onclick="showTab('versions'); this.blur(); return false;" id="tab-versions" href="/projects/my-wiki/settings/versions">版本</a></li>
      <li><a onclick="showTab('wiki'); this.blur(); return false;" id="tab-wiki" href="/projects/my-wiki/settings/wiki">Wiki</a></li>
      <li><a onclick="showTab('boards'); this.blur(); return false;" id="tab-boards" href="/projects/my-wiki/settings/boards">讨论区</a></li>
    </ul>
  <div style="display: none;" class="tabs-buttons">
  	<button onclick="moveTabLeft(this);" class="tab-left"></button>
  	<button onclick="moveTabRight(this);" class="tab-right"></button>
  </div>
</div>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Setting key</th>
    <th>Setting value</th>
    <th>Remark</th>
    <th>Value type</th>
    <th colspan="3"></th>
  </tr>

<% @site_settings.each do |site_setting| %>
  <tr>
    <td><%= site_setting.name %></td>
    <td><%= site_setting.setting_key %></td>
    <td><%= site_setting.setting_value %></td>
    <td><%= site_setting.remark %></td>
    <td><%= site_setting.value_type %></td>
    <td align="center"><%= link_to 'Show', [:syspanel, site_setting] %> <%= link_to 'Edit', edit_syspanel_site_setting_path(site_setting) %> <%= link_to 'Destroy', syspanel_site_setting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site setting', new_syspanel_site_setting_path %>
