<% title "网站配置" %>
<h2>网站配置</h2> 

<%= render :partial => "/syspanel/shared/setting_tab" %>

<table class="list">
  <tr>
    <th>配置名称</th>
    <th>参数KEY</th>
    <th>参数值</th>
    <th>备注</th>
    <th>值类型</th>
    <th></th>
  </tr>

<% @site_settings.each do |site_setting| %>
  <tr>
    <td><%= site_setting.name %></td>
    <td><%= site_setting.setting_key %></td>
    <td><%= site_setting.setting_value %></td>
    <td><%= site_setting.remark %></td>
    <td><%= site_setting.value_type %></td>
    <td align="center"><%= link_to '修改', edit_syspanel_site_setting_path(site_setting) %> <%= link_to '删除', [:syspanel, site_setting], :confirm => '你要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加配置参数', new_syspanel_site_setting_path %>
