<h2>Listing site_settings</h2>  

<%= render :partial => "/syspanel/shared/setting_tab" %>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Setting key</th>
    <th>Setting value</th>
    <th>Remark</th>
    <th>Value type</th>
    <th colspan="3"></th>
  </tr>

<% @site_settings.each do |site_setting| %>
  <tr>
    <td><%= site_setting.name %></td>
    <td><%= site_setting.setting_key %></td>
    <td><%= site_setting.setting_value %></td>
    <td><%= site_setting.remark %></td>
    <td><%= site_setting.value_type %></td>
    <td align="center"><%= link_to 'Show', [:syspanel, site_setting] %> <%= link_to 'Edit', edit_syspanel_site_setting_path(site_setting) %> <%= link_to 'Destroy', [:syspanel, site_setting], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '参加配置参数', new_syspanel_site_setting_path %>
