<%= form_for([:syspanel, @page], :html => { :class => "tabular"}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2>发生如下错误:</h2>
      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>                                                   
  
  <div class="box">
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :style => "width: 400px;" %>
  </p> 
  <p>
    <%= f.label :url_slug %>
    /pages/<%= f.text_field :url_slug %>
  </p>
  <p>
    <%= f.label :keywords %>
    <%= f.text_field :keywords, :style => "width: 400px;" %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description, :style => "width: 400px;" %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, :class => "wymeditor" %>
  </p>

  </div>
    <%= f.submit "发布页面", :class => "wymupdate" %> - <%= f.submit "保存草稿" %> － <%= link_to t(:label_back), syspanel_pages_path %>
<% end %>

<%= content_for :html_head do %>
  <%= javascript_include_tag "wymeditor/jquery.wymeditor.min.js" %>
  <%= javascript_include_tag "wymeditor/plugins/resizable/jquery.wymeditor.resizable.js" %>
  <script type="text/javascript">
    $(document).ready(function(){
      jQuery('.wymeditor').wymeditor({ 
        updateSelector: "input[type='submit']",
        
        postInit: function(wym) {
         wym.resizable();
        }
        
      });
    });
  </script>
<% end %>
