<%= content_for :html_head do -%>
    <%= javascript_include_tag "kindeditor/kindeditor-min.js" %>
    <script type="text/javascript">
        $(function(){

            KE.show({
            				id : 'page_body',
            				resizeMode : 1,
            				allowPreviewEmoticons : false,
            				allowUpload : false,
            				items : [
            				'fontname', 'fontsize', '|', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',
            				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
            				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            			});

        });
    </script>
<% end -%>

<%= form_for([:syspanel, @page], :html => { :class => "tabular"}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2>发生如下错误:</h2>
      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>                                                   
  
  <div class="box">
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :style => "width: 400px;" %>
  </p> 
  <p>
    <%= f.label :url_slug %>
    /pages/<%= f.text_field :url_slug %>
  </p>
  <p>
    <%= f.label :keywords %>
    <%= f.text_field :keywords, :style => "width: 400px;" %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description, :style => "width: 400px;" %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, :style => "width:500px; height:300px;" %>
  </p>

  </div>
    <%= f.submit "发布页面", :class => "wymupdate" %> - <%= f.submit "保存草稿" %> － <%= link_to t(:label_back), syspanel_pages_path %>
<% end %>