<% title "页面管理" %>
<h2>页面</h2>
<h3><%= @page.title %></h3>

<p>
  页面关键字(head -> meta:keywords):
  <strong><%= @page.keywords %></strong>
</p>

<p>
  页面描述(head -> meta:description):
  <strong><%= @page.description %></strong>
</p>

<p style="border:1px solid #ff9900;">
  <%= @page.body %>
</p>

<p>
  <b>访问路径:</b>
  <%= @page.visit_path %>
</p>

<p>
  <b>创建人:</b>
  <%= @page.created_by %>
</p>

<p>
  <b>是否显示在前台:</b>
  <%= @page.is_published? ? "显示" : "不显示" %>
</p>


<%= link_to '编辑', edit_syspanel_page_path(@page) %> |         
<%= link_to '预览', "/pages/#{@page.url_slug}" %> | 
<%= link_to '返回', syspanel_pages_path %>
