<%= content_for :html_head do -%>
    <%= javascript_include_tag "kindeditor/kindeditor-min.js" %>
    <script type="text/javascript">
        $(function(){

            KE.show({
            				id : 'notice_body',
            				resizeMode : 1,
            				allowPreviewEmoticons : false,
            				allowUpload : false,
            				items : [
            				'fontname', 'fontsize', '|', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',
            				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
            				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            			});

        });
    </script>
<% end -%>

<%= form_for([:syspanel, @notice]) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :style => "width:450px;" %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :style => "width:450px;height:250px;" %>
  </div>

  <div class="field">
    <%= f.label :is_published %> <%= f.check_box :is_published %>
  </div>

  <div class="actions">
    <%= f.submit %> － <%= link_to t(:label_back), syspanel_notices_path %>
  </div>
<% end %>
