<%= form_for([:syspanel, @notice]) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :style => "width:400px;" %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :is_published %><br />
    <%= f.check_box :is_published %>
  </div>

  <div class="actions">
    <%= f.submit %> or <%= link_to t(:label_back), syspanel_notices_path %>
  </div>
<% end %>
