<h2>Listing notices</h2>

<table class="list">  
  <thead>
  <tr>
    <th>Title</th>
    <th>Click count</th>
    <th>Is published</th>
    <th>Created by</th>
    <th colspan='3'></th>
  </tr> 
  </thead>

<% @notices.each do |notice| %>
  <tr>
    <td width="300"><%= notice.title %></td>
    <td align="center"><%= notice.click_count %></td>
    <td align="center"><%= notice.is_published %></td>
    <td align="center"><%= notice.created_by %></td>
    <td align="center"><%= link_to 'Show', [:syspanel, notice] %>
    <%= link_to 'Edit', edit_syspanel_notice_path(notice) %>
    <%= link_to 'Destroy', [:syspanel, notice], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notice', new_syspanel_notice_path %>
