<% title "网站公告" %>
<p>
  <b>Title:</b>
  <%= @notice.title %>
</p>

<p>
  <b>Body:</b>
  <%= @notice.body %>
</p>

<p>
  <b>Click count:</b>
  <%= @notice.click_count %>
</p>

<p>
  <b>Is published:</b>
  <%= @notice.is_published %>
</p>

<p>
  <b>Created by:</b>
  <%= @notice.created_by %>
</p>


<%= link_to 'Edit', edit_syspanel_notice_path(@notice) %> |
<%= link_to 'Back', syspanel_notices_path %>
