<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @navmenu.label %>
</p>

<p>
  <b>Url:</b>
  <%= @navmenu.url %>
</p>

<p>
  <b>Link title:</b>
  <%= @navmenu.link_title %>
</p>

<p>
  <b>Position:</b>
  <%= @navmenu.position %>
</p>

<p>
  <b>Is display:</b>
  <%= @navmenu.is_display %>
</p>

<p>
  <b>Open in new window:</b>
  <%= @navmenu.open_in_new_window %>
</p>


<%= link_to 'Edit', edit_navmenu_path(@navmenu) %> |
<%= link_to 'Back', navmenus_path %>
