<div class="header">
  
  <div class="logo"><%= image_tag "logo.gif", :title => "后台管理" %></div>
  
  <ul class="site_nav">
    <li class="message">系统消息：您有<span class="c_y pd_r_l"><%= 1 %></span>条短信息</li>
    <li class="admin_info">
    <span><%= show_welcome_info_at_top_right %></span><%= link_to "", admin_session_path, :method => :delete, :confirm => "你要退出当前系统？", :class => "exit" %>
    </li>
  </ul>
  
  <ul class="menubox">
    <li class="none"><!--用来控制有宽度，请勿删除--> </li>
    <li <%= "class='on'" if app_module == "notices" %> ><%= link_to "新闻管理", syspanel_notices_path %></li>
    <li <%= "class='on'" if app_module == "products" %> ><%= link_to "产品管理", syspanel_products_path %></li>

  </ul>
  
  <div class="cb"></div>
  
</div><!--end:div.header -->
