<div id="header">
  
  <div class="logo"><%= image_tag "syspanel/logo.gif", :title => "后台管理" %></div>

  <ul class="site_nav">
    <li class="message">
      系统消息：您有<span class="c_y pd_r_l"><%= 1 %></span>条短信息</li>
    <li class="admin_info">
    <span><%= show_welcome_info_at_top_right %></span> 
    <span><%= link_to "查看网站", root_url %></span>
    <%= link_to "", admin_logout_path, :method => :delete, :confirm => "你要退出当前系统？", :class => "exit" %>
    </li>
  </ul>
  
  <ul class="menubox">
    <li class="none"><!--用来控制有宽度，请勿删除--> </li>                                                                                          
    <li <% if ["syspanel/home"].include? params[:controller] %>class="on"<% end %> ><%= link_to "首页", "/syspanel/home/index" %></li>
    <li <% if ["syspanel/news"].include? params[:controller] %>class="on"<% end %> ><%= link_to "新闻管理", syspanel_news_index_path %></li>
    <li <% if ["syspanel/notices"].include? params[:controller] %>class="on"<% end %> ><%= link_to "公告管理", syspanel_notices_path %></li> 
    <% if MySettings.enable_product_module %>
      <li <% if ["syspanel/products", "syspanel/product_configrations", "syspanel/categories"].include? params[:controller] %>class="on"<% end %>  ><%= link_to "产品模块", syspanel_products_path %></li>
    <% end %>
    <li <% if ["syspanel/attachments"].include? params[:controller] %>class="on"<% end %> ><%= link_to "附件管理", syspanel_attachments_path %></li>  
    <li <% if ["syspanel/feedbacks"].include? params[:controller] %>class="on"<% end %> ><%= link_to "客户留言", syspanel_feedbacks_path %></li>
    <li <% if ["syspanel/pages"].include? params[:controller] %>class="on"<% end %> ><%= link_to "页面管理", syspanel_pages_path %></li>
    <li <% if ["syspanel/site_settings"].include? params[:controller] %>class="on"<% end %> ><%= link_to "网站设置", syspanel_site_settings_path %></li>

  </ul>
  
  <div class="cb"></div>
  
</div><!--end:#header -->
