<h1>Listing news</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Click count</th>
    <th>Created by</th>

  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= news.title %></td>
    <td><%= news.body %></td>
    <td><%= news.click_count %></td>
    <td><%= news.created_by %></td>

  </tr>
<% end %>
</table>

<%= will_paginate @news %>
