<h2><%= @page.title %></h2>

<p>
  <b>Keywords:</b>
  <%= @page.keywords %>
</p>

<p>
  <b>Description:</b>
  <%= @page.description %>
</p>

<p>
  <%= @page.body %>
</p>

<p>
  <b>Url slug:</b>
  <%= @page.url_slug %>
</p>
