<%= form_for([:syspanel, @feedback]) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2>发生以下错误:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    客户姓名：<strong><%= @feedback.user_name %></strong>
  </div>
  <div class="field">
    <%= f.label :email %>: <%= @feedback.email %>
  </div>
  <div class="field">
    <%= f.label :phone %>: <%= @feedback.phone %>
  </div>
  <div class="field">
    客户网站: <%= @feedback.website %>
  </div>
  <div class="field">
    留言内容: <%= @feedback.body %>
  </div>  
  
  <div class="field">
    <%= f.label :replied_content %>      
    <%= f.text_area :replied_content %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %> － <%= link_to t(:label_back), syspanel_feedbacks_path %>
  </div>
<% end %>
