<% title "客户留言管理" %>
<h2><%= Feedback.model_name.human %>列表</h2> 

<table class="list">
  <tr>
    <th>客户名称</th>
    <th>Email</th>
    <th>电话</th>
    <th>客户IP</th>
    <th>客户网站</th>
    <th>操作</th>
  </tr>

<% @feedbacks.each do |feedback| %>
  <tr>
    <td><%= feedback.user_name %></td>
    <td><%= feedback.email %></td>
    <td><%= feedback.phone %></td>
    <td><%= feedback.user_ip %></td>
    <td><%= feedback.website %></td>
  
    <td align="center"><%= link_to '详情', [:syspanel, feedback] %> － <%= link_to '回复', edit_syspanel_feedback_path(feedback) %> － <%= link_to '删除', [:syspanel, feedback], :confirm => '你要删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= paginate @feedbacks %>
