<p id="notice"><%= notice %></p>

<p>
  <b>客户姓名:</b>
  <%= @feedback.user_name %>
</p>

<p>
  <b>Email:</b>
  <%= @feedback.email %>
</p>

<p>
  <b>客户电话:</b>
  <%= @feedback.phone %>
</p>

<p>
  <b>客户IP:</b>
  <%= @feedback.user_ip %>
</p>

<p>
  <b>客户网站:</b>
  <%= @feedback.website %>
</p>

<p>
  <b>留言:</b>
  <%= @feedback.body %>
</p>


<p>
  <b>是否显示在前台:</b>
  <%= @feedback.is_public %>
</p>

<p>
  <b>回复内容:</b>
  <%= @feedback.replied_content %>
</p>

<p>
  <b>回复时间:</b>
  <%= @feedback.replied_at %>
</p>

<p>
  <b>回复人:</b>
  <%= @feedback.replied_by %>
</p>


<%= link_to '回复', edit_syspanel_feedback_path(@feedback) %> |
<%= link_to t(:label_back), syspanel_feedbacks_path %>
