<%= form_for([:syspanel, @news]) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2>有以下错误：</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :style => "width:450px;" %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => "wymeditor" %>
  </div>
  
  <div class="actions">
    <%= f.submit :class => "wymupdate" %> - <%= link_to t(:label_back), syspanel_news_index_path %>
  </div>
<% end %> 

<%= content_for :html_head do %>
  <%= javascript_include_tag "wymeditor/jquery.wymeditor.min.js" %>
  <%= javascript_include_tag "wymeditor/plugins/resizable/jquery.wymeditor.resizable.js" %>
  <script type="text/javascript">
    $(document).ready(function(){
      jQuery('.wymeditor').wymeditor({ 
        updateSelector: "input[type='submit']",
        
        postInit: function(wym) {
         wym.resizable();
        }
        
      });
    });
  </script>
<% end %>
