<%= content_for :html_head do -%>
    <%= javascript_include_tag "kindeditor/kindeditor-min.js" %>
    <script type="text/javascript">
        $(function(){

            KE.show({
            				id : 'news_body',
            				resizeMode : 1,
            				allowPreviewEmoticons : false,
            				allowUpload : false,
            				items : [
            				'fontname', 'fontsize', '|', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',
            				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
            				'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            			});

        });
    </script>
<% end -%>
<%= form_for([:syspanel, @news]) do |f| -%>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2>有以下错误：</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| -%>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :style => "width:450px;" %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :style => "width:500px;height:300px;" %>
  </div>
  
  <div class="actions">
    <%= f.submit -%> - <%= link_to t(:label_back), syspanel_news_index_path %>
  </div>
<% end %>