<h2>Listing products</h2>

<table class="list">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Product no</th>
    <th>Click count</th>
    <th>Picture</th>
    <th>Price</th>
    <th>Amount</th>
    <th>Is published</th>
    <th>Createb by</th>
    <th>操作</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.category.name %></td>
    <td><%= product.product_no %></td>
    <td><%= product.click_count %></td>
    <td><%= image_tag product.avatar.url(:thumb) %></td>
    <td><%= product.price %></td>
    <td><%= product.amount %></td>
    <td><%= product.is_published %></td>
    <td><%= product.createb_by %></td>
    <td align="center"><%= link_to 'Show', [:syspanel, product] %> － <%= link_to 'Edit', edit_syspanel_product_path(product) %> － <%= link_to 'Destroy', [:syspanel, product], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_syspanel_product_path %>
