<%= form_for([:syspanel, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h3>由于以下错误没有保存成功:</h3>
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="box"> 
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :parent_id %><br />
      <%= f.select :parent_id, nested_set_options(Category, @category) {|i| "#{'---' * i.level} #{i.name}" } %>
    </p>
  </div>
    <%= f.submit %> － <%= link_to t(:label_back), syspanel_categories_path %>
  </div>
<% end %>
