<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= yield(:title).blank? ? MySettings.company_full_name : yield(:title) %></title>
  <%= yield(:description) -%><%= yield(:keywords) -%>
  <%= theme_stylesheet_link_tag "screen", :media => 'screen, projection' %>
  <%= theme_stylesheet_link_tag "print", :media => 'print' %>
  
  <!--[if IE]>
    <%= theme_stylesheet_link_tag "ie", :media => 'screen, projection' %>
  <![endif]-->
  
  <% if Rails.env.production? %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <% else %>
  <%= javascript_include_tag "jquery.js", "rails.js", "cqror.js" %>
  <% end %>
  <%= csrf_meta_tag %>
  <%= yield :html_head %> 
  <meta name="generator" content="Enterprise Site">
</head>
<body >
  <div id="container">
    <div id="header"> 
      <h1 id="logo"><%= link_to MySettings.company_full_name, root_path, :title => MySettings.company_full_name %></h1>
    </div>

    <div id="nav">
      <div class="wrapper">
        <% Navmenu.availble.all.each do |nav_menu| %>
        <%= link_to nav_menu.label, nav_menu.url, :target => ("_blank" if nav_menu.open_in_new_window?), :title => nav_menu.link_title %>
        <% end %>  
        </div>
    </div>

    <div id="index-banner">
      <%= image_tag "front/index-banner.jpg", :width => "950px", :height => "170px", :border => 0 %>
    </div>

    <div id="main" class="<%= has_content?(:sidebar) ? '' : 'nosidebar' %>" >

      <div id="sidebar">
        <div class="wrapper">
          <%  image_tag "front/side1.jpg" %>
          <%= yield :sidebar %>
        </div>
      </div>

      <div id="content">
        <div class="wrapper"><%= yield %></div>
      </div>


    </div>

    <div id="footer">
      <div class='bgl'>
        <div class="bgr">
          Powered by <%= MySettings.app_name %> <%= MySettings.app_version %> 2010 - 2011 &copy; <%= MySettings.company_short_name -%> 版权所有   
          <% if true %>
          <div style="float:right;">
          <% if current_admin %>
            <%= link_to "进入后台", "/syspanel/home/index" %>
          <% end %>
          </div>
          <% end %>
          </div>
        </div>
    </div>
    
    </div><!-- end:#wrapper -->
</body>
</html>