<% title "产品中心" %> 

<div id="products">
  <ul>
    <% @products.each do |product| %> 
    <li>
      <h3><%= link_to product.name, product, :title => product.name %></h3>
      <div>
        <%= image_tag product.avatar.url(:thumb) %>
      </div>
    </li>                         
    <% end %>
  </ul>
</div><!-- end:#products -->

<%= will_paginate @products %> 


<% content_for :sidebar do %>
<%= render :partial => "/products/categories_bar" %>      
<%= render :partial => "/products/recommend_products" %>


<% end %>
