<h2>Listing products</h2>

<div id="products">
  <ul>
<% @products.each do |product| %> 
    <li>
      <h3><%= link_to product.name, product, :title => product.name %></h3>
      <div>
        <%= image_tag product.avatar.url(:thumb) %>
      </div>
    </li>                         
    <% end %>
  </ul>
</div>

<%= will_paginate @products %> 


<% content_for :sidebar do %>
  <div class="box">
    <h3>推荐产品</h3>
    <div>  
      <ul>  
        <li>
          <%= link_to "Some thing here", "" %>
          <div><%= image_tag "rails.png" %></div>
        </li>
        <li>
          <%= link_to "Some thing here", "" %>
          <div><%= image_tag "rails.png" %></div>
        </li>
        <li>
          <%= link_to "Some thing here", "" %>
          <div><%= image_tag "rails.png" %></div>
        </li>
        <li>
          <%= link_to "Some thing here", "" %>
          <div><%= image_tag "rails.png" %></div>
        </li>
        <li>
          <%= link_to "Some thing here", "" %>
          <div><%= image_tag "rails.png" %></div>
        </li>
      </ul>
    </div>
  </div>
<% end %>
