<h2><%= @product.name %></h2>

<p>
  <b>分类:</b>
  <%= @product.category.name %>
</p>

<p>
  <b>Product no:</b>
  <%= @product.product_no %>
</p>
<%= image_tag @product.avatar.url %>
<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Amount:</b>
  <%= @product.amount %>
</p>


