<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).blank? ? SiteSetting.got(:company_full_name) : yield(:title) %></title>
  <%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'compiled/print.css', :media => 'print' %>
  <!-- 
  [if IE]
    <%= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' %>
  [endif]
    -->
  <% if Rails.env.production? %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <% else %>
    <%= javascript_include_tag "jquery.js", "rails.js", "cqror.js" %>
    <% end %>
  <%= csrf_meta_tag %>
</head>
<body >
  <div id="container">
    <div id="header"> 
      <h1 id="logo"><%= link_to SiteSetting.got(:company_full_name), root_path, :title => SiteSetting.got(:company_full_name) %></h1>
    </div>

    <div id="nav">
      <div class="wrapper">
        <% Navmenu.availble.all.each do |nav_menu| %>
        <%= link_to nav_menu.label, nav_menu.url, :target => ("_blank" if nav_menu.open_in_new_window?), :title => nav_menu.link_title %>
        <% end %>  
        </div>
    </div>

    <div id="index-banner">
      <%= image_tag "front/index-banner.jpg", :width => "950px", :height => "170px", :border => 0 %>
    </div>

    <div id="main" class="<%= has_content?(:sidebar) ? '' : 'nosidebar' %>" >

      <div id="sidebar">
        <div class="wrapper">
          <%= image_tag "front/side1.jpg" %>
          <%= yield :sidebar %>
        </div>
      </div>

      <div id="content">
        <div class="wrapper"><%= yield %></div>
      </div>


    </div>

    <div id="footer">
      <div class='bgl'>
        <div class="bgr">
          Powered by <%= Settings.system.name %> <%= Settings.system.version %> &copy; <%= SiteSetting.got(:company_short_name) %> 版权所有   
          <% if true %>
          <div style="float:right;">
          <% if current_admin %>
            <%= link_to "进入后台", "/syspanel/home/index" %>
          <% else %>
            <%= link_to("管理", new_admin_session_path) %>
          <% end %>
          </div>
          <% end %>
          </div>
        </div>
    </div> 
    
    </div><!-- end:#wrapper -->
</body>
</html>
